In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("/home/admn/Documents/sahana/zoo.csv")
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [3]:
class_type_output = df["class_type"]
df = df.drop("class_type", axis=1).drop("animal_name",axis=1)
print(df)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, class_type_output, test_size=0.20)

     hair  feathers  eggs  milk  airborne  aquatic  predator  toothed  \
0       1         0     0     1         0        0         1        1
1       1         0     0     1         0        0         0        1
2       0         0     1     0         0        1         1        1
3       1         0     0     1         0        0         1        1
4       1         0     0     1         0        0         1        1
..    ...       ...   ...   ...       ...      ...       ...      ...
96      1         0     0     1         0        0         0        1
97      1         0     1     0         1        0         0        0
98      1         0     0     1         0        0         1        1
99      0         0     1     0         0        0         0        0
100     0         1     1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tail  domestic  catsize
0           1         1         0     0     4     0         0        1
1           1         1         0     0     4     1         0        1
2           1         0         0     1     0     1         0        0
3           1         1         0     0     4     0         0        1
4           1         1         0     0     4     1         0        1
..        ...       ...       ...   ...   ...   ...       ...      ...
96          1         1         0     0     2     1         0        1
97          0         1         1     0     6     0         0        0
98          1         1         0     0     4     1         0        1
99          0         1         0     0     0     0         0        0
100         1         1         0     0     2     1         0        0

[101 rows x 16 columns]

In [4]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [5]:
y_prediction = classifier.predict(x_test)
y_prediction

array([6, 1, 2, 2, 1, 3, 1, 3, 2, 1, 1, 1, 1, 1, 6, 1, 2, 4, 7, 4, 4])

In [6]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
confusion_matrix(y_test,y_prediction)

array([[9, 0, 0, 0, 0, 0],
       [0, 4, 0, 0, 0, 0],
       [0, 0, 2, 0, 0, 0],
       [0, 0, 0, 3, 0, 0],
       [0, 0, 0, 0, 2, 1],
       [0, 0, 0, 0, 0, 0]])

In [7]:
print(classification_report(y_test, y_prediction))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         9
           2       1.00      1.00      1.00         4
           3       1.00      1.00      1.00         2
           4       1.00      1.00      1.00         3
           6       1.00      0.67      0.80         3
           7       0.00      0.00      0.00         0

    accuracy                           0.95        21
   macro avg       0.83      0.78      0.80        21
weighted avg       1.00      0.95      0.97        21

/home/admn/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/admn/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/admn/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [8]:
print(accuracy_score(y_test, y_prediction))

0.9523809523809523

In [9]:
predicted_class = list(y_prediction)
actual_class = list(y_test)
for i in range(len(predicted_class)):
    print("Predicted class =", predicted_class[i],"\tActual class =",actual_class[i])

Predicted class = 6 	Actual class = 6
Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 2 	Actual class = 2
Predicted class = 1 	Actual class = 1
Predicted class = 3 	Actual class = 3
Predicted class = 1 	Actual class = 1
Predicted class = 3 	Actual class = 3
Predicted class = 2 	Actual class = 2
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 6 	Actual class = 6
Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 4 	Actual class = 4
Predicted class = 7 	Actual class = 6
Predicted class = 4 	Actual class = 4
Predicted class = 4 	Actual class = 4